*
  box-sizing border-box

html
  font-size 14px

body
  font-size 1em


.container
  width 320px
  min-height 20em
  margin 0 auto
  border .5em solid
  text-align center
  border-radius .5em
  padding 1em

.board
  display inline-block

.panel
  margin 1em 0


  > *
    display inline-block
    width 50%




.buttonGroup

  a
    display inline-block
    padding 0 1em
    line-height 2em
    font-size 3em
    margin .2em
    background #ddd


    &.active
      background red



a:hover
  cursor pointer


//menu

.button
  line-height 2em
  padding 0 .5em
  font-size 2em
