$cornerRadius = 50%

html
  font-size 14px

body
  font-size 1em
  background #ddd


.container
  background #fff
  margin 0 auto
  width 20em
  height 20em
  border-radius 50%
  border 1em solid
  border-top-color red
  border-bottom-color red
  text-align center
  //animation spin 600s linear infinite


  >div
    width 12em
    border 4em solid blue
    border-radius 50%




.buttonGroup
  display inline-block

  a
    display inline-block
    line-height 3em
    width 3em
    font-size 2em
    border none
    background-color #ddd

    &:hover
      background #333

    &.active
      background green



.rounded

  &.bottomLeft
    border-bottom-left-radius $cornerRadius

  &.bottomRight
    border-bottom-right-radius $cornerRadius

  &.topLeft
    border-top-left-radius $cornerRadius

  &.topRight
    border-top-right-radius $cornerRadius

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}